body{
	background-color: #25CABF;
	
}
h3{
  position: relative;
  left:180px;
  top:-70px;
}
img{
	
    position: relative;
	top:20px;
	left:20px;
	
}

a{
	color: white;
}
a:hover{
	color:black;

}
.one{
	padding-top: 30px;
	border-top: 20px;
	position: relative;
	top:-50px;
	left:370px;
	margin-bottom: 20px;
	text-align: center;
	height: 100px;
	width:400px;
	background-color: grey;

}
.two{
	padding-top: 30px;
	border-top: 20px;
	position: relative;
	top:-150px;
	left:370px;
	margin-bottom: 20px;
	text-align: center;
	height: 100px;
	width:400px;
	background-color: grey;
}
.three{
	padding-top: 30px;
	border-top: 20px;
	position: relative;
	top:-250px;
	left:370px;
	margin-bottom: 20px;
	text-align: center;
	height: 100px;
	width:400px;
	background-color: grey;
}
.img1{
	position: relative;
	left:450px;
	top:30px;

}
.img2{
	position: relative;
	left:450px;
	top:-70px;
}
.img3{
	position: relative;
	left:450px;
	top:-170px;
}