body{
	background-color: #25CABF;
	
}
h3{
 position: absolute;
 left:200px;
 margin-top: -90px;

}
a{
	color: white;
}
a:hover{
	color:black;

}
img{
  margin-top: 10px;
  margin-left: 30px;  
	
}
.one,.two,.three{
	position: absolute;
	left:400px;
	text-align: center;
	margin-top: -20px;
	height:70px;
	width:400px;
	background-color: grey;
	padding-top: 15px;
}
.img3{
	margin-left: 250px;
	position: relative;
	 top:55px;
}
.img2{
	margin-top:5px;
	margin-left: 250px;
	position: relative;
	 top:55px;
}
.img1{

	margin-left: 200px;
	position: relative;
	 top:80px;
}