body{
	background-color: #25CABF;
}

 #logo {
	 display: block;
	 margin: 15vh auto 2vh auto;
 }

 #logoContainer h1 {
 	text-align: center;
	font-family: 'Roboto', sans-serif;
 }

 #formDiv {
	 	margin: 5vh auto 0 auto;
		max-width: 30vw;
 }

 #loginBt {
	 background-color: #f3cd4c;
	 border-color: #f3cd4c;
	 color: #000;
 }
.form-control:focus {
	border-color: #000;
	box-shadow: none;
}
