
body {
background-color: #bd4f6c;
background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
min-height: 100vh;
}
#show {
  /* margin-top: 10vh; */
}

.patBox {
display: flex;
margin: 2vh auto;
background-color: rgba(255,255,255,0.2);
padding: 15px;
}

.flex {
  display: flex;
}
.flex div {
  margin: 0 15px;
}
.dripImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  width: 50px;
  vertical-align: middle;

}

.dripClass {
min-height: 80px;
}
